<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:700|Montserrat:500,700&display=swap" rel="stylesheet">
        <link href="css/prism.css" rel="stylesheet" />
        <link href="css/jquery.loadingModal.min.css" rel="stylesheet" />
        <style>
        @media (max-width:768px) {
            #logo {
                width: 200px;
            }
        }
        article {
            padding: 10px;
        }
            body {
                font-family: 'Montserrat';
            }
            h2 {
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;

            }
            h3 {
                margin-top: 5px;
                margin-bottom: 10px;
                font-size: 22px;
                font-weight: 700;
                line-height: 26px;
            }
            #articles a {
                text-decoration: none;
                color: black;
                width: 100%;
            }
            #articles a:hover .article {
                box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
                transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            }
            .article {
                display: flex;
                margin-top: 20px;
                margin-bottom: 20px;
                height: 200px;
                box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
            }
            header {
                margin-bottom: 30px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
            }
            #logo {
                margin-top: 1px;
                margin-bottom: 0px;
                /*position:absolute;
                bottom: 10px;*/
            }
            .thumbnail {
                overflow: hidden;
                font-family: 'Ubuntu', sans-serif;
                font-size: 30px;
                text-align: center;
                color: white;
                min-width: calc(150px * 1.77777);
                height: 150px;
                background-color: #b470b3;
                display: inline-block;
                position: relative;
                padding: 10px;
                margin: 20px;
            }
            .thumbnail li {
                list-style: none;
            }
            .info {
                margin-right: 10px;
                margin-top: 25px;
                display: inline-block;
                position: relative;
                height: 150px;
                /*background-color: blue;*/
                vertical-align: top;
            }
            .help-block {
                color: red;
            }
            .btn-success {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .form-check {
                display: inline-block;
                margin: 2px;
                padding: 0px;

            }
            .switch-field {
                display: flex;
                /*margin-bottom: 36px;
                /*overflow: hidden;*/
            }

            .switch-field input {
                position: absolute !important;
                clip: rect(0, 0, 0, 0);
                height: 1px;
                width: 1px;
                border: 0;
                overflow: hidden;
            }

            .switch-field label {
                background-color: #e4e4e4;
                color: rgba(0, 0, 0, 0.6);
                font-size: 14px;
                line-height: 1;
                text-align: center;
                padding: 8px 16px;
                border-radius: 4px;
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
                transition: all 0.1s ease-in-out;
            }

            .switch-field label:hover {
                cursor: pointer;
            }

            .switch-field input:checked + label {
                background-color: #a5dc86;
                box-shadow: none;
            }
            #search {

            }
            #search-icon {
                margin-left: 10px;
            }
            #search-input {

            }
            #calendar {
                margin-right: 10px;
            }
            .date {
                font-size: 15px;
                font-weight: 500;
                color: #6c1cc7;
            }
            article .date {
                margin-top: 5px;
            }
            .info {
                box-sizing: border-box;
            }
            .code-toolbar {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .banner {
                margin-left: 15%;
                margin-right: 15%;
            }
            #user {
                color: #6c1cc7;
            }
            #login {
                margin-top: 20px;
                margin-bottom: 20px;
            }.centered {
                text-align: center;
            }
            .empty {
                margin-top: 150px;
                font-size: 30px;
                text-align: center;
            }
            .no-height {
                height: 0px;
            }
            .add_text, .add_memo {
                margin-bottom: 10px;
            }
            .line {
                display: inline-block;
            }
            .right {
                text-align: right;
            }
            #myPosts {
                margin-left: 5px;
            }
            .bottom {
                vertical-align: bottom;
            }
            #user {
                padding: 0px;
                margin-left: 50px;
            }
            .navbar {
                height: 100px;
            }
            .modal-btn {
                background-color: #6c1cc7;
            }
            .article {
                overflow: hidden;
            }
        </style>
        <title>{% block title %}Reinitialisation mot de passe{% endblock %}</title>
    </head>
    <body>
        <header>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <div class="bottom">
                <img id="logo" src="{{asset('image/logo.svg')}}"  width="300px"/>
                </div>
            </div>
        </nav>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4"> </div>
                <div class="col-md-4">
                  <!-- Modal de messages -->
                  <div class="modal fade" id="centralModalSm" tabindex="-1"
                       role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                              <button type="button" class="btn btn-sm btn-secondary modal-btn" data-dismiss="modal"><i class="fas fa-times"></i></button>
                              </button>
                            </div>
                            <div class="modal-body">
                              {% if app.session.flashbag.peekAll|length > 0 %}
                                {% set modalShow = true %}
                                {% for type, messages in app.session.flashbag.all %}
                                    {% for message in messages %}
                                        <div class="{{ type ? type : '' }}">
                                          {{ message|trans({}, domain|default('messages')) }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                              {% endif %}
                            </div>
                            <div class="modal-footer">
                            </div>
                      </div>
                    </div>
                  </div>
                    <!-- Modal de contenu -->
                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                        <div id="modal-size" class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 id="modal-title"class="modal-title"></h5>
                                    <div>
                                        <button id="modal-up" type="button" class="btn btn-sm btn-secondary modal-btn"><i class="fas fa-expand-arrows-alt"></i></button>
                                        <button type="button" class="btn btn-sm btn-secondary modal-btn" data-dismiss="modal"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="modal-body" id="modal-ajax">
                                </div>
                                <div class="modal-footer"></div>
                            </div>
                        </div>
                    </div>
                    <div class="container-in">
                        <h2>Reinitialiser le mot de passe</h2>
                        {{ form_start(form) }}
                        {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Tapez votre mot de passe'}}) }}
                        {{ form_row(form.confirm_password, {'label': 'Confirmation mot de passe', 'attr': {'placeholder': 'Retapez votre mot de passe'}}) }}
                        <button type="submit" class="btn btn-success">Envoyer</button>
                          {{ form_end(form) }}
                    </div>
            </div>
            <div class="col-md-4"> </div>
        </div>
    </div>
    </body>
</html>






