{{ form_start(form, {'action' : path('article_edit', {'id' : article.id})}) }}
{{ form_row(form._token) }}

{{ form_row(form.title, {'label': 'Titre', 'attr': {'placeholder': 'Entrez le titre de l\'article'}}) }}
<div class="col col-md-10">{{ form_widget(form.title) }}</div>
<div class="form_errors col-md-12">
    {{ form_errors(form.title) }}
</div>


<div class="row" id="article_exists_error" style="display: none;">
    <div class="col col-xs-12">
        <div class="form_errors col-lg-12">
            <span class="help-block">
                <ul class="list-unstyled">
                    <li><i class="fas fa-exclamation-circle"></i> {{ 'Un article du même nom existe déjà !' }}</li>
                </ul>
            </span>
        </div>
    </div>
</div>

{{ form_row(form.description, {'label': 'Description', 'attr': {'placeholder': 'Décrivez l\'article','rows': "3" }}) }}

<button type="button" class="btn btn-secondary btn-sm btn-add add_text" data-rel="#texts">Ajouter un bloc de texte</button>
<button type="button" class="btn btn-secondary btn-sm btn-add add_memo" data-rel="#memos">Ajouter un bloc de code</button>
<div id="texts" data-index="{{ form.texts|length > 0 ? form.texts|last.vars.name+1 : 0 }}" data-prototype="{{ include("theme/form_text.html.twig", { form: form.texts.vars.prototype })|e("html_attr") }}">
    {% for text in form.texts %}
        {{ include("theme/form_text.html.twig", { form: text }) }}
    {% endfor %}
</div>
<div id="memos" data-index="{{ form.memos|length > 0 ? form.memos|last.vars.name+1 : 0 }}" data-prototype="{{ include("theme/form_memo.html.twig", { form: form.memos.vars.prototype })|e("html_attr") }}">
    {% for memo in form.memos %}
        {{ include("theme/form_memo.html.twig", { form: memo }) }}
    {% endfor %}
</div>
<div id="article"></div>
<div class="row" id="article_no_code" style="display: none;">
    <div class="col col-xs-12">
        <div class="form_errors col-lg-12">
            <span class="help-block">
                <ul class="list-unstyled">
                    <li><i class="fas fa-exclamation-circle"></i> {{ 'Veuillez ajouter au moins un bloc de code !' }}</li>
                </ul>
            </span>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-success submit">
    Enregistrer
</button>


{{ form_end(form, {'render_rest': false}) }}

<script>
    $(function() {

        $("form[name=article]").on('submit', function(e){
            if ($('.switch-field').length < 1) {
                $("#article_no_code").show().delay(2000).fadeOut(300);
                return false;
            }
            var $allNumbers = $('[type=number]', this.form);
            //allNumbers.val(2);
            $('[type=number]', this.form).each(function(index) {
                this.value = index;
            });

            // Hide errors
            $("#article_no_code").hide();
            $("#article_exists_error").hide();

            if (inUse === true)
            {
                $("#article_exists_error").show();
                return false;
            }


        });

        $(".btn-add").on("click", function() {
            var $collectionHolder = $($(this).data("rel"));
            var index = $collectionHolder.data("index");
            var prototype = $collectionHolder.data("prototype");
            //console.log(prototype);
            $("#article").append(prototype.replace(/__name__/g, index));
            $collectionHolder.data("index", index+1);
        });

        $("body").on("click", ".btn-remove", function() {
            $("."+$(this).data("rel")).remove();
        });
    });
</script>
