{% extends 'base.html.twig' %}

{% block title %}Mes articles de code{% endblock %}

{% block body %}
<section class="articles">
        {% for article in articles %}
            <a data-target="{{ path('article_show', {'id': article.id}) }}" data-tooltip="Lire l'article" class="modal-trigger" href="#addModal">
                <div class="article">
                    <figure class="thumbnail">
                        {% for memo in article.memos %}
                            <div>{{ memo.language.name }}</div>
                        {% endfor %}
                </figure>
                <div class="info">
                    <h2>{{ article.title }}</h2>
                    <div class="date">Ajouté le {{ article.createdAt | date('d/m/Y') }}</div>
                    <div class="description">{{ article.description}}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
{% endblock %}
